<po-container class="po-xl-8 po-lg-8 po-md-8 po-sm-12" [p-no-padding]="true">
    <po-accordion>
        <po-accordion-item p-label="Dados do Pedido" #details>
            <app-sale-summary-with-delivery
                [sales]="sales"
            ></app-sale-summary-with-delivery>
            <app-sale-summary-with-payment
                [sales]="sales"
                [salesItems]="salesItems"
            ></app-sale-summary-with-payment>
            <app-sales-summary-with-seller [sales]="sales"></app-sales-summary-with-seller>
        </po-accordion-item>
        <po-accordion-item p-label="Itens do Pedido">
            <app-sale-summary-with-products
                [salesItems]="salesItems"
            ></app-sale-summary-with-products>
        </po-accordion-item>

        <po-accordion-item p-label="Visualizar JSON">
            <po-widget p-title="Cabeçalho do pedido">
                <pre class="po-md-2 po-mt-2">{{ sales | json }}</pre>
            </po-widget>
            <po-widget p-title="Items do pedido">
                <pre class="po-md-2 po-mt-2">{{ salesItems | json }}</pre>
            </po-widget>
        </po-accordion-item>
    </po-accordion>
</po-container>
<aside class="po-xl-4 po-lg-4 po-md-4 po-sm-12 po-mt-sm-2" style="float: right">
    <app-total
        *ngIf="sales && salesItems"
        [header]="sales"
        [items]="salesItems"
    ></app-total>
</aside>
