<po-container class="po-mb-2">
    <h2 class="po-font-subtitle">Endereço de Faturamento</h2>
    <h3 class="po-font-text-large">
        Logradouro padrão do contato.
    </h3>
    <br />

    <form [formGroup]="formContact">
        <po-input
            class="po-xl-2 po-lg-2 po-md-5 po-sm-12"
            p-label="CEP"
            [p-no-autocomplete]="true"
            formControlName="zipCode"
            p-clean
            p-placeholder="00000-000"
            [p-minlength]="9"
            [p-maxlength]="9"
            [p-optional]="true"
            p-mask="99999-999"
            p-mask-format-model="false"
            p-error-pattern="Informe apenas números"
        ></po-input>
        <po-combo
            class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
            p-label="Estado"
            formControlName="state"
            [p-filter-service]="statesService"
            p-placeholder="Selecione o estado"
            [p-optional]="true"
            [p-clean]="true"
            (p-change)="onChangeState()"
        ></po-combo>
        <po-combo
            class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
            p-label="Cidade"
            formControlName="city"
            p-placeholder="Selecione a cidade/municipio"
            [p-filter-service]="cityService"
            [p-filter-params]="formContact.get('state')?.value"
            [p-optional]="true"
            [p-clean]="true"
            [p-disabled]="
                formContact.get('state')?.value === undefined ||
                formContact.get('state')?.value.length === 0
            "
        ></po-combo>
        <po-input
            class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
            p-label="Endereço"
            [p-no-autocomplete]="true"
            formControlName="address"
            p-clean
            p-placeholder="Digite o endereço de faturamento"
            [p-optional]="true"
        ></po-input>
        <po-input
            class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
            p-label="Bairro"
            [p-no-autocomplete]="true"
            formControlName="neighborhood"
            p-clean
            p-placeholder="Digite o bairro"
            [p-optional]="true"
        ></po-input>
        <po-input
            class="po-xl-6 po-lg-6 po-md-12 po-sm-12"
            p-label="Complemento"
            [p-no-autocomplete]="true"
            formControlName="complement"
            p-clean
            p-placeholder="Digite o complemento"
            [p-optional]="true"
        ></po-input>
    </form>
</po-container>
