<po-page-edit
  [p-title]="titlePage"
  [p-breadcrumb]="breadcrumb"
  (p-cancel)="handleBack()"
  (p-save)="onSubmit()"
  [p-disable-submit]="isDisableSubmit"
>
  <po-tabs>
    <po-tab [p-active]="true" p-label="Dados Gerais">
      <app-general-data
        [sales]="sales"
        [dynamicForm]="dynamicForm"
        (getForm)="getForm($event)"
      ></app-general-data>
    </po-tab>
    <po-tab p-label="Produtos">
      <app-product-list (changeItems)="addSalesItem($event)"></app-product-list>
    </po-tab>
    <po-tab p-label="Resumo">
      <app-sale-summary [sales]="sales" [salesItems]="salesItems"></app-sale-summary>
    </po-tab>
  </po-tabs>
</po-page-edit>
