<po-toolbar
    class=".toolbar"
    p-title="DSLabs"
    [p-profile]="profile"
    [p-profile-actions]="profileActions"
    p-actions-icon="po-icon-cart"
    [p-actions]="actions"
    [p-show-notification]="true"
    [p-notification-number]="1"
    [p-notification-actions]="notificationActions"
></po-toolbar>

<po-modal [p-title]="titleModal" [p-click-out]="true">
  <app-seller-profile *ngIf="isProfile" [avatarUrl]="profile.avatar!" [seller]="seller"></app-seller-profile>
  <app-about *ngIf="!isProfile"></app-about>
</po-modal>
