<main class="po-row">
    <div class="po-mb-2">
        <p class="po-font-subtitle po-xl-12 po-lg-12 po-md-12 po-sm-12">
            DSLAbs
        </p>
        <p class="po-font-text-small po-xl-12 po-lg-12 po-md-12 po-sm-12">
            O <b>DSLAbs</b> é um site estatico que utiliza uma API fake para simular cadastros.
        </p>
    </div>

    <div class="po-mb-2">
        <po-divider
            class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
            p-label="Dados da aplicação"
        ></po-divider>
        <po-info
            class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
            p-label="Versão"
            p-value="1.0.0"
            [p-orientation]="orientation"
        ></po-info>
        <po-info
            class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
            p-label="Alias"
            p-value=""
            [p-orientation]="orientation"
        ></po-info>
    </div>

    <div>
      <po-info
          class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
          p-url="https://po-ui.io/"
          p-value="Conheça o PO-UI - Biblioteca de componentes baseado em Angular"
      ></po-info>
      <po-info
          class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
          p-url="https://www.npmjs.com/package/angular-in-memory-web-api"
          p-value="Angular in memory web API"
      ></po-info>
      <po-info
          class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
          p-label="Desenvolvido por:"
          p-value="Danilo Otavio Lima Salve"
      ></po-info>
  </div>
</main>
