<main class="po-row">
    <div class="po-mb-2">
        <p class="po-font-subtitle po-xl-12 po-lg-12 po-md-12 po-sm-12">
            Portal Gestão de Vendas
        </p>
        <p class="po-font-text-small po-xl-12 po-lg-12 po-md-12 po-sm-12">
            O <b>Portal Gestão de Vendas</b> (PGV) é uma plataforma Web para
            usuários do <b>TOTVS Backoffice Linha Protheus</b> que utilizem o
            modulo <b>Faturamento</b> (SIGAFAT) para gerenciar as suas vendas.
        </p>
    </div>

    <div class="po-mb-2">
        <po-divider
            class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
            p-label="Dados da aplicação"
        ></po-divider>
        <po-info
            class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
            p-label="Versão"
            p-value="1.0.0"
            [p-orientation]="orientation"
        ></po-info>
        <po-info
            class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
            p-label="Alias"
            p-value="TPROTHEUSFAT"
            [p-orientation]="orientation"
        ></po-info>
    </div>

    <div>
        <po-info
            class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
            p-url="https://tdn.totvs.com/pages/releaseview.action?pageId=684340765"
            p-value="Conheça as novidades do Portal Gestão de Vendas"
        ></po-info>
        <po-info
            class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
            p-url="https://tdn.totvs.com/pages/releaseview.action?pageId=649301318"
            p-value="Perguntas mais frequentes sobre o Portal Gestão de Vendas"
        ></po-info>
    </div>
</main>
