<po-page-list #poPageList [p-title]="titlePage" [p-actions]="actions">
    <div class="po-row">
        <app-filter-input
            class="po-offset-xl-9 po-offset-lg-8 po-offset-md-7 po-sm-12"
            placeHolder="Pesquisar..."
            (changeSearch)="onSearchResources($event)"
            help="Efetue a busca utilizando código, grupo ou descrição do Produto"
            [debounceInput]="1000"
        ></app-filter-input>
        <app-view-button
            *ngIf="canViewTable"
            [class]="classDevice"
            (changeDevice)="onChangeDevice($event)"
            style="margin-top: -3.5%"
        ></app-view-button>
    </div>
    <app-product-table
        *ngIf="!isSmartPhone && canViewTable"
        [items]="items"
        [isLoading]="isLoading"
    ></app-product-table>
    <app-product-list-view
        *ngIf="isSmartPhone || !canViewTable"
        [items]="items"
        [isLoading]="isLoading"
        propertyTitle="description"
    ></app-product-list-view>
</po-page-list>
