<po-page-list #poPageList [p-title]="titlePage" [p-actions]="actions">
    <div class="po-row">
        <app-filter-input
            class="po-offset-lg-6 po-offset-xl-8 po-xl-4 po-lg-6 po-md-6 po-sm-12"
            placeHolder="Pesquisar..."
            (changeSearch)="onSearchResources($event)"
            help="Efetue a busca utilizando código, documento ou nome do prospect"
            [debounceInput]="1000"
        ></app-filter-input>
      </div>
      <app-prospect-table
          [items]="items"
          [isLoading]="isLoading"
      ></app-prospect-table>
</po-page-list>
