<po-page-list #poPageList [p-title]="titlePage" [p-actions]="actions">
    <div class="po-row">
        <app-filter-input
            class="po-offset-xl-9 po-offset-lg-8 po-offset-md-7 po-sm-12"
            [bdcWalkTriggerFor]="settingsListStep1"
            placeHolder="Pesquisar..."
            (changeSearch)="onSearchResources($event)"
            help="Efetue a busca utilizando Tabela ou Descrição"
            [debounceInput]="1000"
        ></app-filter-input>
    </div>
    <app-setting-table
        *ngIf="canViewTable"
        [bdcWalkTriggerFor]="settingsListStep2"
        (editTable)="onEditTable($event)"
        [isLoading]="isLoading"
        [items]="items"
    ></app-setting-table>
    <app-setting-list-view
        *ngIf="!canViewTable"
        [bdcWalkTriggerFor]="settingsListStep2"
        (editTable)="onEditTable($event)"
        [isLoading]="isLoading"
        [items]="items"
        propertyTitle="description"
    ></app-setting-list-view>
</po-page-list>

<bdc-walk-dialog #dialogWelcome name="dialogWelcome" width="650px">
    <div class="po-row">
        <p class="po-font-title">Novo por aqui?</p>
        <p class="po-font-subtitle">
            Não se preocupe, conheça todas as funcionalidades da página Minhas
            Configurações.
        </p>
        <p class="po-font-text">
            Com ela você poderá definir quais cadastros serão sincronizados com
            o DSLabs, Os cadastros habilitados poderão ser utilizados
            sempre que você perder a conexão com a Internet, mas cuidado, serão
            carregados somente dez registros por cadastros, portando lembre-se
            de filtrar quais registros serão realmente utilizados.
        </p>
    </div>
    <div class="po-row">
        <po-button
            class="po-mt-3"
            (click)="dialogWelcome.close()"
            p-label="Fechar"
        ></po-button>
    </div>
</bdc-walk-dialog>

<bdc-walk-popup
    #settingsListStep1
    name="settingsListStep1"
    header="Passo 1"
    [onButtonCompleteTask]="{ settingsListStep1: 1 }"
    sideNoteText="1/2"
    [showButton]="true"
    buttonText="Próximo"
    xPosition="after"
>
    <p>
        Pesquise utilizando o <b>código</b> da Tabela ou <b>Descrição</b>,
        exemplo: Clientes
    </p>
</bdc-walk-popup>

<bdc-walk-popup
    #settingsListStep2
    name="settingsListStep2"
    header="Passo 2"
    [mustCompleted]="{ settingsListStep1: 1 }"
    sideNoteText="2/2"
    [showButton]="true"
    buttonText="Entendi"
    xPosition="after"
>
    <p>
        Clique em <b>editar</b> para acessar as configurações de
        <b>sincronismo</b> da tabela.
    </p>
</bdc-walk-popup>
