<po-container>
<po-loading-overlay [hidden]="!isLoading" p-text="Carregando Indicadores">
</po-loading-overlay>
  <div class="po-row">
    <div class="po-md-6">
      <po-gauge
      [hidden]="isLoading"
        p-title="Pedidos Encerrados"
        [p-value]="totalClosedSales"
        [p-ranges]="salesRanges"
        [p-height]="410"
      ></po-gauge>
    </div>
    <div class="po-md-6">
      <po-chart
        [hidden]="isLoading"
        p-title="Pedidos em Abertos x Encerrados"
        [p-series]="salesChartSeries"
        [p-type]="typeChart"
        (p-series-click)="showMeSales()"
        [p-height]="410"
      >
      </po-chart>
    </div>
  </div>
</po-container>
