<po-container [hidden]="isLoading">
  <p class="po-font-title po-mb-3">Meus Indicadores de Vendas</p>
  <div class="po-row">
    <div class="po-md-6">
      <po-gauge
        p-title="Pedidos Encerrados"
        [p-value]="totalClosedSales"
        [p-ranges]="salesRanges"
        [p-height]="410"
      ></po-gauge>
    </div>
    <div class="po-md-6">
      <po-chart
        p-title="Pedidos em Abertos x Encerrados"
        [p-series]="salesChartSeries"
        [p-type]="typeChart"
        (p-series-click)="showMeSales()"
        [p-height]="410"
      >
      </po-chart>
    </div>
  </div>
</po-container>
