<po-table
    [p-sort]="true"
    [p-items]="items"
    [p-columns]="columns"
    [p-max-columns]="10"
    [p-loading]="isLoading"
    [p-actions]="actions"
    [p-height]="height"
>
    <ng-template p-table-column-template [p-property]="'document'" let-value>
        <span [innerText]="customerService.transformDocument(value)"></span>
    </ng-template>
</po-table>

<po-modal #poModalAddContact p-title="Adicionar contato">
  <app-add-contact [customer]="customer" (changeForm)="handleSaveContact($event)"></app-add-contact>
  <po-modal-footer>
    <po-button class="po-hidden-sm" [p-danger]="true" p-label="Cancelar" (p-click)="poModalAddContact.close()"> </po-button>
    <po-button class="po-hidden-sm" p-icon="po-icon-plus" p-kind="primary" p-label="Adicionar" (p-click)="submitContactForm()"> </po-button>
    <po-button class="po-visible-sm po-sm-12" p-label="Adicionar" p-kind="primary" (p-click)="submitContactForm()"> </po-button>
  </po-modal-footer>
</po-modal>
