<po-table
    #poTable
    [p-sort]="true"
    [p-items]="items"
    [p-columns]="columns"
    [p-max-columns]="9"
    [p-loading]="isLoading"
    [p-actions]="actions"
    [p-height]="height"
    [p-selectable]="true"
    (p-selected)="handleSelectedResource($event)"
    (p-unselected)="handleSelectedResource($event)"
    (p-all-selected)="handleAllSelected($event)"
    (p-all-unselected)="handleAllSelected($event)"
    [p-draggable]="true"
    p-container="shadow"
    [p-hide-batch-actions]="true"
>
    <ng-template p-table-column-template [p-property]="'document'" let-value>
        <span [innerText]="transformDocument(value)"></span>
    </ng-template>
</po-table>
