<po-page-edit
    [p-title]="titlePage"
    [p-breadcrumb]="breadcrumb"
    (p-cancel)="handleBack()"
    (p-save)="onSubmit()"
    [p-disable-submit]="isDisableSubmit"
>
    <po-loading
        p-text="Salvando configurações"
        [hidden]="!isLoading"
    ></po-loading>
    <po-dynamic-form
        [bdcWalkTriggerFor]="settingsFormStep1"
        [p-fields]="fields"
        [p-value]="table"
        (p-form)="setForm($event)"
        [hidden]="true"
    ></po-dynamic-form>

    <po-stepper [p-orientation]="orientation" [p-sequential]="false">
        <po-step p-label="Filtro rápido">
            <po-divider p-label="Filtro rápido"></po-divider>
            <app-quick-resource-filter
                (changeQuickFilter)="handleQuickFilter($event)"
            ></app-quick-resource-filter>
        </po-step>
        <po-step p-label="Filtro Avançado">
            <po-divider p-label="Filtro avançado"> </po-divider>
            <app-filter-resource
                (changeFilter)="handleFilter($event)"
            ></app-filter-resource>
        </po-step>
        <po-step p-label="Selecionar registros">
            <app-advanced-filter
                [hidden]="true"
                [bdcWalkTriggerFor]="settingsFormStep2"
                [fieldsTable]="fieldsTable"
                (filterEvent)="handleAdvancedFilter($event)"
                [disclaimer]="disclaimerFilters"
            ></app-advanced-filter>
            <po-container class="po-mb-2 disclaimer-form">
                <div class="po-row">
                    <p class="po-font-text-small-bold">
                        Clientes selecionados:
                    </p>
                    <po-disclaimer-group
                        [bdcWalkTriggerFor]="settingsFormStep3"
                        class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
                        [p-hide-remove-all]="true"
                        [p-disclaimers]="disclaimerFilters"
                        p-title="Filtrar registros por:"
                    ></po-disclaimer-group>
                    <div
                        *ngIf="disclaimerFilters.length === 0"
                        class="po-table-no-data po-text-center"
                    >
                        <span>Não há dados selecionados</span>
                    </div>
                </div>
            </po-container>
            <po-divider p-label="Selecionar registros"></po-divider>
            <app-list-resource
                (disclaimerEvent)="handleDisclaimer($event)"
                [disclaimer]="disclaimerFilters"
                [advancedFilter]="advancedFilter"
                [quickFilter]="quickFilter"
            ></app-list-resource>
        </po-step>
    </po-stepper>
</po-page-edit>

<bdc-walk-popup
    #settingsFormStep1
    name="settingsFormStep1"
    header="Passo 1"
    xPosition="after"
    [onButtonCompleteTask]="{ settingsFormStep1: 1 }"
    class="warning"
    sideNoteText="1/3"
    [showButton]="true"
    buttonText="Próximo"
>
    <p>
        Visualize os dados da Tabela e clique em <b>habilitar</b>, para iniciar
        o sincronismo deste cadastro.
    </p>
</bdc-walk-popup>

<bdc-walk-popup
    #settingsFormStep2
    name="settingsFormStep2"
    header="Passo 2"
    xPosition="after"
    [onButtonCompleteTask]="{ settingsFormStep2: 1 }"
    [mustCompleted]="{ settingsFormStep1: 1 }"
    class="warning"
    sideNoteText="2/3"
    [showButton]="true"
    buttonText="Próximo"
>
    <p>Selecione os <b>Filtros</b> utilizados para buscar os registros.</p>
</bdc-walk-popup>

<bdc-walk-popup
    #settingsFormStep3
    name="settingsFormStep3"
    header="Passo 3"
    xPosition="after"
    [mustCompleted]="{ settingsFormStep2: 1 }"
    class="warning"
    sideNoteText="3/3"
    [showButton]="true"
    buttonText="Entendi"
>
    <p>Visualize os filtros cadastrados.</p>
</bdc-walk-popup>
