<po-page-list #poPageList p-title="Meus Clientes" [p-actions]="actions">
  <div class="po-row">
    <div class="po-offset-xl-9 po-offset-lg-8 po-offset-md-7 po-sm-12">
      <app-filter-input
        placeHolder="Pesquisar..."
        (changeSearch)="onSearchResources($event)"
        help="Efetue a busca utilizando código ou Nome do Cliente"
        [debounceInput]="1000"
      ></app-filter-input>
    </div>
  </div>
  <po-table
    [p-sort]="true"
    [p-items]="items"
    [p-columns]="columns"
    [p-max-columns]="6"
    [p-loading]="isLoading"
    [p-actions]="tableActions"
    [p-height]="450"
  ></po-table>
</po-page-list>

