<po-container [p-no-border]="true" [p-no-padding]="isMobile">
    <div class="po-row">
        <po-disclaimer-group
            class="po-xl-8 po-lg-7 po-md-12 po-sm-12 po-mb-1"
            [p-disclaimers]="disclaimers"
            p-title="Apenas produtos do grupo:"
            [p-hide-remove-all]="true"
            (p-change)="onChangeDisclaimers($event)"
        >
      </po-disclaimer-group>
        <div class="po-xl-4 po-lg-5 po-md-12 po-sm-12 po-mb-1">
            <app-filter-input
                placeHolder="Pesquisar..."
                (changeSearch)="onSearchProducts($event)"
                help="Efetue a busca utilizando código ou Descrição do Produto"
                [debounceInput]="1000"
            ></app-filter-input>
        </div>
    </div>

    <div *ngIf="isEmpty(items)">
        <app-drag-drop-products
            *ngIf="!isProductNotFound"
            (product)="onUploadProducts($event)"
        ></app-drag-drop-products>
        <img
            class="image"
            alt="Imagem do carinho vazio"
            src="../../../../../assets/img/svg/empty_cart.svg"
        />
        <p class="imageTitle po-font-subtitle" *ngIf="isProductNotFound">
            Produto Não Localizado
        </p>
    </div>

    <div *ngIf="!isEmpty(items)">
        <div *ngFor="let item of items">
            <app-product-card
                [salesItem]="item"
                (changeItems)="addItem($event)"
            ></app-product-card>
        </div>
    </div>
</po-container>
